.App {
  text-align: center;
  background-color: #ffffff;
  /* font-family: Verdana, sans-serif; */
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-logo {
  width: 15%;
  height: 15%;
  position: relative;
  left: 40%;
  padding-bottom: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table{
  width:fit-content;
}

.styled-table {
  /* border-collapse: collapse; */
  margin: 25px 5px 0px 0px;
  /* margin-right: 5px; */
  /* margin-left: 5px; */
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);  
  /* width:min-content !important; */
  table-layout:auto;
  /* width:350px; */
  word-wrap:break-word;
  
}

.styled-table thead tr {
  background-color: #009879 !important  ;
  color: #ffffff;
  /* text-align: left; */
  width:fit-content;
  word-wrap:break-word;
}

.styled-table th,
.styled-table td {
    /* padding: 2px 2px; */
    width:fit-content;
    word-wrap:break-word;
}

.styled-table tbody tr {
  /* border-bottom: 1px solid #dddddd; */
  background-color: #f3f3f3;
  width:fit-content;
  word-wrap:break-word;
}
/* 
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

/* .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
  width:min-content;
}


.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 15px;
  
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar-brand{
  /* text-align: center; */
  margin: 0 auto;
  color: #367bbc;

}

.react-confirm-alert-button-group {
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important; 
  display: flex !important;
  justify-content: flex-center !important;
  margin-top: 20px auto !important;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center; 
  
}

.react-confirm-alert-button-group > button {
  outline: none !important;
  background: #367bbc !important;
  border: none !important;
  display: inline-block !important;
  padding: 6px 25px !important;
  color: rgb(255, 255, 255) !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  cursor: pointer !important;
  width: 100% !important;  
  
 
  /* top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important; */
  
}

.react-confirm-alert-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px !important;
  padding: 50px;
  text-align: center !important;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.drawingBuffer{
  display: none !important;
}



.card{
  border-radius:20px;
  margin: 10px;
  text-align: left !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-text_trans{
  color: #367bbc !important;
}

.btn-default{
  color: #ffffff !important;
  background-color: #367bbc  !important;
}

.btn-info{
  background-color: #656769  !important;
}

.division{
  color: #367bbc  !important;
}

.auth-wrapper{
  background-color: #ffffff;
}

.svg-icon {
  width: 4em;
  height: 4em;
  position: relative;
  left: 40%;
  padding-bottom: 15px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #367bbc;
}